<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p class="has-text-weight-medium" id="about-explain"  style="font-size: 40px;">{{site.author-about}}</p>
                    <div style="float: left; margin-left: 50px;">
                        <p class="has-text-weight-semibold" style="font-size: 30px;" id="about-skill">Skill</p> 
                        <div>
                            <progress style="margin-left: 10px;" value="80" max="100"></progress>
                            <p style="float: left; background-color: rgb(196, 236, 255);">80% </p>
                        </div>
                        <p>Unity | Unreal Engine | DirectX</p>
                        <span class="iconify" id="about-skill" style="font-size: 30px;" data-icon="fontisto:unity"></span>
                        <span class="iconify" id="about-skill" style="font-size: 30px;" data-icon="fontisto:unreal-engine"></span>
                        <span class="iconify" id="about-skill" style="font-size: 30px;" data-icon="logos:microsoft-windows"></span>
                        <div>
                            <progress style="margin-left: 10px;" value="70" max="100"></progress>
                            <p style="float: left; background-color: rgb(196, 236, 255);">70% </p>
                        </div>
                        <p>C++ | C#</p>
                        <span class="iconify" id="about-skill-left-margin" data-icon="logos:c-plusplus"></span>
                        <span class="iconify" id="about-skill" data-icon="logos:c-sharp"></span>
                        <div>
                            <progress style="margin-left: 10px;" value="50" max="100"></progress>
                            <p style="float: left; background-color: rgb(196, 236, 255);">50% </p>
                        </div>
                        <p>Photoshop | After Effect</p>
                        <span class="iconify" id="about-skill-left-margin" data-icon="cib:adobe-photoshop" style="color: rgb(0, 81, 255);"></span>
                        <span class="iconify" id="about-skill" data-icon="cib:adobe-after-effects" style="color: rgb(91, 0, 119);"></span>
                        <div>
                            <progress style="margin-left: 10px;" value="40" max="100"></progress>
                            <p style="float: left; background-color: rgb(196, 236, 255);">40% </p>
                        </div>
                        <p>Blender | Substance Painter</p>
                        <span class="iconify" id="about-skill" data-icon="logos:blender"></span>
                        <span class="iconify" id="about-skill" data-icon="file-icons:adobe-creativecloud" style="color: black;"></span>
                    </div>
                    <br>
                    <div class="container" style="margin-top: 90px; margin-left: 400px;">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#contact"SS
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Contact
                                Me</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/project"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Projects</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>